<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Helpout</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" async>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" async>
        <link rel="stylesheet" href="{% static 'styles.css' %}" async>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header class="w-100 d-flex justify-content-center main-nav">
            <nav class="navbar navbar-expand-md p-0 mx-auto">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">Helpout</a>           
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create-post-view' %}"><i class="bi bi-plus-square me-2"></i>Add post</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'account-view' request.user.id %}"><i class="bi bi-person me-2"></i>Account</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item dropdown-user py-2 ps-2">Hi {{ request.user.first_name|truncatechars:10}} 🙋‍♂️</li>
                                <li><a class="dropdown-item py-2" href="{% url 'account-view' request.user.id %}">Your posts</a></li>
                                <li><a class="dropdown-item py-2" href="{% url 'edit-account' %}">Setings</a></li>
                                <hr>
                                <li><a class="dropdown-item logout py-2" href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item join py-0 px-2">
                            <a class="nav-link" href="{% url 'join' %}">Join</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        {% comment %} nav for mobiles {% endcomment %}
        <header class="bottom-nav">
            <div class="row row-cols-5 text-center w-100 m-0">
                <div class="col">
                    <a href="{% url 'home' %}">
                        <i class="bi bi-house"></i>
                        <span class="d-none d-sm-block">Home</span>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'posts' %}">
                        <i class="bi bi-search"></i>
                        <span class="d-none d-sm-block">Search</span>
                    </a>
                </div>
                <div class="col">
                    <div class="d-inline-flex align-items-center">
                        <a href="{% url 'create-post-view' %}">
                            <i class="bi bi-plus-square"></i>
                            <span class="d-none d-sm-block"> Add</span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <a href="{% url 'account-view' request.user.id %}">
                        <i class="bi bi-person"></i>
                        <span class="d-none d-sm-block">Account</span>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'edit-account' %}">
                        <i class="bi bi-gear-wide-connected"></i>
                        <span class="d-none d-sm-block">Settings</span>
                    </a>
                </div>
            </div>
        </header>
        <main class="">
            {% if messages %}
            <ul class="messages m-2">
                {% for message in messages %}
                <li{% if message.tags %} class="ps-3 py-2 {{ message.tags }}"{% endif %}>
                    <span class="pe-3">{{ message }}</span>
                    <i id="close-message" class="bi bi-x-lg pe-3"></i>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </main>          
        <footer class="mt-5 mb-0">
            <div class="row justify-content-between inner pt-4">
                <div class="col mb-3">
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home' %}" class="text-light">Home</a></li>
                        <li><a href="{% url 'posts' %}" class="text-light">Posts</a></li>
                        <li><a href="{% url 'account-view' request.user.id %}" class="text-light">Account</a></li>
                        <li><a href="#" class="text-light">Help</a></li>
                    </ul>
                </div>
                <div class="col-2 contact">
                    <div>Contact us:</div> <div class="mb-1"><i class="bi bi-envelope-fill me-2"></i> <a href="mailto:support@helpout.cc">support@helpout.cc</a></div></div>
                    <div class="tos mt-2"><a href="{% url 'tos' %}" class="text-light">Terms of Service</a></div>
                    <div class="tos mt-1"><a href="{% url 'privacy-policy' %}" class="text-light">Privacy Policy</a></div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col text-end m-3 aling-self-end">
                    <div class="copyright">©2021-2023 Adrian Paradzinski | All rights reserved</div>
                </div>
            </div>
        </footer>
    
        {% block script %}
        {% endblock script %}
        <script>
            var lastScrollTop = 0;

            $(window).on('scroll', function() {
                if (window.matchMedia('(min-width: 992px)').matches) {
                    if($(window).scrollTop() > 30) {
                        $('.main-nav').addClass('new-nav');
                    }
                    else {
                        $('.main-nav').removeClass('new-nav');
                    }
                }
                else {
                    var st = $(this).scrollTop();
                    if (st > lastScrollTop){
                        $('.bottom-nav').addClass('new-bottom-nav');
                        $('.main-nav').addClass('new-nav-mob');
                    } else {
                        $('.main-nav').removeClass('new-nav-mob');
                        $('.bottom-nav').removeClass('new-bottom-nav');
                    }
                    lastScrollTop = st;
                }
            });

            $('#area').on('input', function() {
                $("#area-results-list").empty();
                $('#area-results-list').show();
                $('#area-init-results-list').hide();
                $.getJSON(`/api/city/?q=${$('#area').val()}`, function(data){   // goes to the api and parses the input
                    $.each(data, function() {       // goes through each value of the returned data
                        // appends a list element to #area-results-list with the data
                        $("#area-results-list").append(`<li class="list-group-item">${this.name}, <span class="voivodeship">${this.voivodeship}</span></li>`);
                }); 
            })});
            $('#area').on ('click', function() {
                if( $('#area-results-list li').length == 0) {
                    $('#area-init-results-list').show();
                };
            });
            $('#area-init-results-list li').on ('click', function () {
                $('#area').val($.trim($(this).text()));
                $('#area-init-results-list').hide();
            });
            $('#area-results-list').on ('click', 'li', function () {
                $('#area').val($.trim($(this).text()));
                $('#area-results-list').hide(); 
            });
            $(document).mouseup(function(e) {
                var container = $("#area-init-results-list"), 
                    container2 = $("#area-results-list");
                if(!container.is(e.target) && container.has(e.target).length === 0) {
                    container.hide();
                }
                if(!container2.is(e.target) && container2.has(e.target).length === 0) {
                    container2.hide();
                    $("#area-results-list").empty();
                }
            });

            $('#search').on ('input', function() {
                $("#search-results-list").empty();
                $.getJSON(`/api/cat/?q=${$('#search').val()}`, function(data){
                    $.each(data, function() {
                        $('#search-results-list').append(`<li class="list-group-item"><a href=/posts/?category=${this.name}>${this.name}</a></li>`);
                    })
                })
            });

            $('#image').on('change', function() {
                const file = this.files[0];
                if(file) {
                    let reader = new FileReader();
                    reader.onload = function(event){
                        $('.image-input').css('background-image', `url(${event.target.result})`);
                    }
                    reader.readAsDataURL(file);
                }
            });
            $(".image-input").on('click', function () {
                $('#image').trigger( "click" );
            });

            $('#close-message').on('click', function() {
                $('.messages').hide();
            });
        </script>
    </body>
</html>