{% extends "base.html" %}
{% load custom_tags %}

{% block content %}

<div class="inner">
    <h3 class="my-4">Settings</h3>
    <form class="edit p-3" action="" enctype="multipart/form-data" method="POST" novalidate>{% csrf_token %}
        <div class="row">
            <div class="col-12">
                <label>Name</label>
                {{ form.first_name }}
                <span class="input-title">This is how other users will see you</span>
                {% if form.first_name.errors %}
                <div class="invalid-feedback d-block">{{ form.first_name.errors|striptags }}</div>
                {% endif %}
            </div>
            <div class="col-12 mt-3">
                <label>Email</label>
                <input type="text" value="{{ request.user }}" disabled class="form-control">
                <span class="input-title">This is the email that you used to create your Helpout account</span>
            </div>
            <div class="col-12 row my-3">
                <label for="{{ form.phone_number.id_for_label }}">Phone number</label>
                <div class="col-3">
                    {{ form.isd_code }}
                </div>
                <div class="col-6">
                    {{ form.phone_number }}
                </div>
                <div class="col-12">
                    {% if form.isd_code.errors %}
                    <div class="invalid-feedback d-block">{{ form.isd_code.errors|striptags }}</div>
                    {% endif %}
                    {% if form.phone_number.errors %}
                    <div class="invalid-feedback d-block">{{ form.phone_number.errors|striptags }}</div>
                    {% endif %}
                    {% if form.non_field_errors %}
                    <div class="invalid-feedback d-block">{{ form.non_field_errors|striptags }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12">
                {{ form.display_phone }}
                <label for="{{ form.displa_phone.id_for_label }}" class="mt-0">Show your phone number to other users</label><br>
                <span class="input-title">Your phone number will be displayed in the details of your posts</span>
            </div>
            <div class="col-12">
                <a href="{% url 'generate-email' %}" class="form-text float-start pt-1">Change your password</a>
            </div>
        </div>
        <hr>
        <div classs="row justify-content-between">
            <div classs="col-1">
                <button class="button-acc p-3 py-2 float-end" type="submit">Save</button>
            </div>
            <div classs="col-1">
                <button type="button" class="button-delete py-2 px-3 float-start" data-bs-toggle="modal" data-bs-target="#deleteModal">
                   Delete account
                </button>
            <div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" paria-labelledby="deleteAccountModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="deleteAccountModal">Delete account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete your account? This action is irreversible and all your data will be permanently deleted.</p>                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href="{% url 'delete-account' %}" class="button-delete py-2 px-3">Delete my account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}