{% extends "base.html" %}

{% block content %}

<div class="bg-light py-5">
    <div class="inner">
        <div class="row">
            <div class="col-md-8 mx-auto">
            <div class="card border-0 shadow-lg">
                <div class="card-body p-5">
                <h2 class="mb-4 text-center">Welcome to Helpout, <span class="fw-bold">{{name}}</span> 🙋‍♂️</h2>
                <p class="mb-4">We wanted to take a moment to welcome you to Helpout and thank you for creating an account with us. We're thrilled to have you on board and can't wait to see how you'll contribute to our mission.</p>
                <p class="mb-4">At Helpout, our mission is to create a world where everyone has access to the resources and support they need to thrive. We believe that every person has something valuable to offer, and that by connecting individuals and communities, we can make a positive impact on the world.</p>
                <p class="mb-4">With your help, we can work towards a future where kindness, generosity, and compassion are the norm, and where people can come together to support one another, regardless of their background or circumstances.</p>
                <p class="mb-4">We're committed to providing a safe and secure platform for all users, and to upholding the highest standards of integrity and ethical conduct. We believe that by working together and supporting one another, we can create a brighter, more equitable future for all.</p>
                <p class="mb-4">Thank you for joining us on this mission. We're excited to have you on board and look forward to working together to make a difference in the world.</p>
                <p class="text-muted mb-0 text-center">Sincerely, The Helpout Team</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
  
  
{% endblock content %}